allure-results/
test-output/
build/

*.log/
##########
#java
#######
*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.nar

##########
#Maven
##########
target/
pom.xml.tag
pom.xml.releasebackup
pom.xml.versionbackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/
.settings/
.classpath
.project